html {
    scroll-behavior: smooth;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(45deg,lightsalmon, lightgreen);
    margin: 20px 0;
    
}
table {
    width: 100%;
    margin: 30px 0 30px 0;

}
h1 {
    font-family: fantasy;
    font-size: 45px;
    text-shadow: 0 0 10px blue;
    font-weight: bolder;
}
h2 {
    background: linear-gradient(45deg, black, darkred,black);
    width: 50%;
    color: white;
    margin: auto;
    padding: 15px;
    border-radius: 60% 60% 0 0;
    border-bottom: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
#main-content img {
    width: 500px;
    height: 270px;
}
.image-cont {
    display: none;
}
.image-container{
    display: none;
}
.mainimage {
    display: none;
}




@media (max-width: 768px) {
    table {
        display: none;
    }
    .image-container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    
    }
    .image-container img {
        width: 80%;
        margin: 0;


    }
    .image-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    .mainimage {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        
    }

h2 {
    background: linear-gradient(45deg, black, darkred,black);
    width: 50%;
    color: yellow;
    margin: auto;
    padding: 15px;
    border-radius:  6px;
    border-bottom: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    margin-left: 5px;
    margin-right: 5px;
}

}